<!DOCTYPE html>
<html>
<head>
  <title>Hunk of the day</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
    }
    #wrapper {
      width: 360px;
      margin: 0 auto;
      text-align: center;
    }
    h3 {
      word-wrap: break-word;
      font-family:sans-serif;
      margin: 10px 0;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <h3>Hunk of the day</h3>
    <img src="/hunk.jpg" alt="Damn!" />
  </div>
</body>
</html>
